@import "font-awesome-4.2.0/css/font-awesome.min.css";
.jframe {
  background: #eaeaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #999;
  -moz-box-shadow: 2px 2px 2px #999;
  -o-border-radius: 2px 2px 2px #999;
  box-shadow: 2px 2px 2px #999;
}
.jframe-header {
  background: #cdcdcd;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  overflow: hidden;
  color: #666;
  font-size: 11pt;
}
.jframe-header .close-button {
  float: right;
  cursor: pointer;
  color: #fff;
  background: #aaa;
  font-size: 12pt;
  padding: 2px;
}
